<div class="container">
   
    <h1 class="text-center mb-4 fw-bold" style=" font-family:lora">
        Our <span class="text-primary">All</span> Courses.
    </h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search courses by title"
            [(ngModel)]="searchQuery"
            (input)="filterCourses()"
            style="background-color: rgb(243, 242, 242);"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let course of filteredCourses">
        <div class="card mb-4">
          <div class="card-body text-center">
            <h5 class="card-title">{{ course.title }}</h5>
            <img [src]="course.image" class="card-img-top" alt="{{ course.title }}">
            <p class="card-text">{{ course.description }}</p>
            <div class="price-box">{{ course.price }}</div>
            <p class="card-text"><strong>Instructor:</strong> {{ course.teacher }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>