<h1 class="text-center my-5 fw-bold" style="font-family: lora">
  Welcome, <span style="color: rgb(218, 13, 201)">{{ user.name }}</span> ! Keep
  Going
</h1>

    <!-- User Details -->
    <div class="container">
        <div class="col-12 col-md-6">
          <div
            class="card p-3 shadow mb-4"
            style="background: linear-gradient(to bottom, #a5edff, #fad0c4 50%)"
          >
            <h1 class="text-center mb-4 fw-bold" style="font-family: lora">
              <span class="text-primary">User Details</span>
            </h1>
            <div class="row align-items-center">
              <div class="col-5 text-center">
                <img
                  src="\image\user.jpg"
                  alt="user"
                  class="img-fluid rounded-circle"
                />
              </div>
              <div class="col-7 ps-5">
                <p><strong>Name:</strong> {{ user.name }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Phone:</strong> {{ user.phone || "Not Provided" }}</p>
                <p><strong>Role:</strong> {{ user.role }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      