<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(61deg, rgba(255, 203, 215, 1) 10%, rgba(214, 255, 239, 1) 100%);">
  <div class="logo">
    <img src="\image\logo.jpg" alt="Edupedia Logo" class="navbar-brand" />
  </div>
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav ms-auto"> <!-- Add ms-auto to align to the right -->
      <a class="nav-link" routerLink="/home">Home</a>

      <!-- Courses Button with Dropdown -->
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="coursesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Courses
        </a>
        <ul class="dropdown-menu" aria-labelledby="coursesDropdown">
          <li><a class="dropdown-item" routerLink="/all">All Courses</a></li>
          <li><a class="dropdown-item" routerLink="/free">Free Courses</a></li>
          <li><a class="dropdown-item" routerLink="/others">Others</a></li>
        </ul>
      </div>

      <a class="nav-link" routerLink="/regform">Register Now</a>
      <a class="nav-link" routerLink="/contact">Contact Us</a>
      <button class="btn btn-outline-primary" routerLink="/signup" style="background-color: rgb(177, 64, 177);color:aliceblue">Signup</button>
      <br><button class="btn btn-outline-secondary" routerLink="/login"  style="background-color: rgb(177, 64, 177);color:aliceblue;">Login</button>
    </div>
  </div>
</nav>
