<h1 class="text-center mb-4 fw-bold" style="padding-top: 30px; font-family:lora">
  Our <span class="text-primary">Free</span> Courses.
</h1>
<div class="card-container">
    <!-- Card 1 -->
    <mat-card class="p-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title ><u>DSA in C++</u></mat-card-title>
        <mat-card-subtitle style="padding: 15px;" >By: Dev Sharma sir</mat-card-subtitle> 
      </mat-card-header>
    
      <img mat-card-image src="\image\Designer (4).png" alt="DSA in C++">
      <mat-card-content>
        <p>
            Master the Coding Interview by learning Data Structures & Algorithms, which is crucial for solving tricky coding problems.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="toggleFavorite(1)">
            <mat-icon [ngClass]="{'favorite': favorites[1]}">favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  
    <!-- Card 2 -->
    <mat-card class="p-card">
      <mat-card-header>
      <mat-card-title style="padding-left:40px;"><u>Python Basics</u></mat-card-title>
        <mat-card-subtitle style="padding: 15px; padding-left:50px">By: Raman Singh sir</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="\image\Designer (5).png" alt="Python Basics">
      <mat-card-content>
        <p>
          Learn Python programming from scratch. This course is perfect for beginners and covers all the fundamental concepts.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="toggleFavorite(2)">
            <mat-icon [ngClass]="{'favorite': favorites[2]}">favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  
    <!-- Card 3 -->
    <mat-card class="p-card">
      <mat-card-header>
       
        <mat-card-title style="padding-left: 3px;"> <u> Web  Development </u></mat-card-title>
        <mat-card-subtitle style="padding: 15px; padding-left:38px">By: Shreya Gupta mam</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="\image\Designer (2).png" alt="Web Development">
      <mat-card-content>
        <p>
          Dive into the world of web development with this hands-on course. Learn to build stunning websites using modern tools.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button (click)="toggleFavorite(3)">
            <mat-icon [ngClass]="{'favorite': favorites[3]}">favorite</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  