.required {
  color: red;
}

.form-group {
  margin-bottom: 15px;
}

.alert {
  margin-top: 5px;
}

.container {
  max-width: 500px;
  margin: 120px auto 0; /* Adjust the top margin to push the form down */
  padding: 30px;
 
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
 /* background-image: url("/image/bg8.jpg"); */
 background-image: linear-gradient(to bottom, #d2f1f7, #facdf2, #d8f4fa);
 
}

h1 {
  text-align: center;
 
}

.btn {
  width: 100%;
}

.form-group input[type="checkbox"] {
  margin-right: 8px; /* Adjust the value as needed */
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  gap: 0px; /* Space between the h1 and the image */
}

.logo {
  width: 80px; /* Adjust the size of the image */
  height: 80px; /* Ensure it's a perfect circle */
  border-radius: 50%; /* Make the image circular */
  /* Ensure the image fits properly within the circle */
 
}
