<div class="back">
<br>
<div class="heading">
    Master New Skills with <span class="highlight">EduPedia</span>
</div>

<br>

 <div class="container my-4" style="padding: 10px;">
    <div class="row">
      <!-- Block 1 -->
      <div class="col-md-4 col-12 mb-3">
        <div class="card h-100 text-center" style="  box-shadow: 8px 8px 8px rgba(255, 87, 51, 0.5);">
          <img src="\image\teachers.jpg" class="card-img-top img-fluid" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">Expert Faculty</h5>
            <p class="card-text">"Learn from the Best Minds in the Industry"</p>
          </div>
        </div>
      </div>
      <!-- Block 2 -->
      <div class="col-md-4 col-12 mb-3">
        <div class="card h-100 text-center" style="  box-shadow: 8px 8px 8px rgba(255, 87, 51, 0.5);">
          <img src="\image\img.jpg" class="card-img-top img-fluid" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Interactive learning</h5>
            <p class="card-text">"Engage, Explore, and Excel"</p>
          </div>
        </div>
      </div>
      <!-- Block 3 -->

      <div class="col-md-4 col-12 mb-3">
        <div class="card h-100 text-center" style="  box-shadow: 8px 8px 8px rgba(255, 87, 51, 0.5);">
          <img src="/image/cour.jpg" class="card-img-top img-fluid" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Trending Courses</h5>
            <p class="card-text">"Stay Ahead with In-Demand Skills"
          </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  <div class="about-section">
    <div class="about-header">
      <img src="\image\logo.jpg" alt="Website Logo" class="logo">
      <h1>About us </h1>
    </div>
    <p class="about-text">
      <span class="high">Edupedia</span>  is more than just a learning platform; it's a dynamic community dedicated to guide learners towards greater knowledge and skill development. With our emphasis on providing exceptional resources, personalized support from passionate educators, and a collaborative atmosphere, our aim is to help you achieve your educational milestones and surpass your expectations. Whether you are a seasoned learner or just starting your educational journey, we welcome you to join us in pursuing a more knowledgeable and empowered you.
    </p>
  </div>


