
header {
    background-color: #002855;
    color: white;
    text-align: center;
    padding: 20px 0;
    
}

main {
    padding: 25px;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.course-card {
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.course-card img {
    width: 100%; /* Ensure the image takes full width of the card */
    height: 150px; /* Set a consistent height for all images */
    object-fit: cover; /* Crop the image to fit within the dimensions */
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 4px; 
}

.course-card h2 {
    color: #002855;
    margin-bottom: 10px;
}

.course-card p {
    color: #555;
    margin-bottom: 15px;
}

.course-card .price {
    display: inline-block;
    background-color: #28a745; /* Green background */
    color: white; /* White text color */
    padding: 5px 20px; /* Add some padding */
    border-radius: 4px; /* Rounded corners */
    font-weight: bold; /* Make the text bold */
    margin-top: 10px;

}

.course-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.explore-button-container {
    text-align: center;
    margin-top: 20px;
}

.explore-button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for size */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Pointer cursor on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow */
    transition: all 0.3s ease; /* Smooth transition for hover */
}

/* Hover effect for button */
.explore-button:hover {
    background-color: #044c99; /* Darker blue on hover */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
}
