<header>
    <h1>Popular Courses</h1>
</header>

<main>
    <div class="course-grid">
        <div class="course-card">
            <img src="\image\dsa.png" alt="Learn DSA">
            <h2>Learn DSA</h2>
            <p>Expert instructors will make you think and solve complex problems systematically</p>
            <span class="price">$200</span>
        </div>
        <div class="course-card">
            <img src="\image\wweb.jpg" alt="Web Development">
            <h2>Web Development</h2>
            <p>Learn to create,edit,maintain amazing websites</p>
            <span class="price">$250</span>
        </div>
        <div class="course-card">
            <img src="\image\gen.jpg" alt="Full Stack">
            <h2>Generative AI</h2>
            <p>Focuses on the advancement to produce new content based on data</p>
            <span class="price">$300</span>
        </div>
        <div class="course-card">
            <img src="\image\cloud.jpg" alt="Cloud Computing">
            <h2>Cloud Computing</h2>
            <p>Insights on various softwares and skill-building techniques.</p>
            <span class="price">$180</span>
        </div>
        <!-- <div class="course-card">
            <img src="genai.jpg" alt="Gen AI">
            <h2>Gen AI</h2>
            <p>Holistic assistance for academic and personal growth.</p>
            <span class="price">$220</span>
        </div>
        <div class="course-card">
            <img src="others.jpg" alt="Many More">
            <h2>Many More</h2>
            <p>Flexible learning sessions and virtual consultations.</p>
            <span class="price">$150</span>
        </div> -->
    </div>
    <div class="explore-button-container">
        <button class="explore-button" routerLink="/courses">Explore More</button>
    </div>
</main>

